In [1]:
import pandas as pd

In [2]:
data = {'Brand': ['HH','TT','FF','AA'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = pd.DataFrame(data, columns=['Brand','Price','Year'])

print (df)

  Brand  Price  Year
0    HH  22000  2015
1    TT  25000  2013
2    FF  27000  2018
3    AA  35000  2018

In [4]:
#sorting dataframe
df.sort_values(by=['Brand'], inplace=True)
print (df)

  Brand  Price  Year
3    AA  35000  2018
2    FF  27000  2018
0    HH  22000  2015
1    TT  25000  2013

#Iterating over rows of DataFrame

In [5]:
#Using index attribute of the Dataframe 

data = {'Name': ['Ali', 'Ahmed', 'Alaa'],
                'Age': [21, 19, 20],
                'Stream': ['Math' , 'Arts', 'Biology'],
                'Percentage': [88, 92, 95]}
  
# Convert the dictionary into DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age', 'Stream', 'Percentage'])
  
print("Given Dataframe :\n", df)
  
print("\nIterating over rows using index attribute :\n")
  
# iterate through each row and select 
# 'Name' and 'Stream' column respectively.
for ind in df.index:
     print(df['Name'][ind], df['Stream'][ind])

Given Dataframe :
     Name  Age   Stream  Percentage
0    Ali   21     Math          88
1  Ahmed   19     Arts          92
2   Alaa   20  Biology          95

Iterating over rows using index attribute :

Ali Math
Ahmed Arts
Alaa Biology

In [6]:
#Using loc[] function of the Dataframe.
data = {'Name': ['Ali', 'Ahmed', 'Alaa'],
                'Age': [21, 19, 20],
                'Stream': ['Math' , 'Arts', 'Biology'],
                'Percentage': [88, 92, 95]}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age', 'Stream', 'Percentage'])
  
print("Given Dataframe :\n", df)
  
print("\nIterating over rows using loc function :\n")
  
# iterate through each row and select 
# 'Name' and 'Age' column respectively.
for i in range(len(df)) :
  print(df.loc[i, "Name"], df.loc[i, "Age"])

Given Dataframe :
     Name  Age   Stream  Percentage
0    Ali   21     Math          88
1  Ahmed   19     Arts          92
2   Alaa   20  Biology          95

Iterating over rows using loc function :

Ali 21
Ahmed 19
Alaa 20

In [7]:
#Using iloc[] function of the DataFrame.
data = {'Name': ['Ali', 'Ahmed', 'Alaa'],
                'Age': [21, 19, 20],
                'Stream': ['Math' , 'Arts', 'Biology'],
                'Percentage': [88, 92, 95]}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age', 'Stream', 'Percentage'])
  
print("Given Dataframe :\n", df)
  
print("\nIterating over rows using iloc function :\n")
  
# iterate through each row and select 
# 0th and 2nd index column respectively.
for i in range(len(df)) :
  print(df.iloc[i, 0], df.iloc[i, 2])

Given Dataframe :
     Name  Age   Stream  Percentage
0    Ali   21     Math          88
1  Ahmed   19     Arts          92
2   Alaa   20  Biology          95

Iterating over rows using iloc function :

Ali Math
Ahmed Arts
Alaa Biology